package dex;

import org.springframework.beans.factory.HierarchicalBeanFactory;
import org.springframework.beans.factory.ListableBeanFactory;

/**
 * Marker interface for Dex context instances
 */
public interface DexContextInstance extends ListableBeanFactory, HierarchicalBeanFactory {}
