package dex;

public class DexRuntime {

	public static void main(String[] args) {
		initialize();
	}

	public static DexContextInstance initialize() {
		return new DexRuntime().start();
	}

	private DexContextInstance start() {
		return DexContextScopeImpl.instantiateContext("ctx://main.xml", null, null);
	}
}