<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Design Exploder Editor"
            extensions="dex"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="designexploder.editors.DesignEditor"
            id="designexploder.editors.DesignEditor">
      </editor>
   </extension>

</plugin>
