<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor id="designexploder.editor.DexDiagramEditor"
			name="Design Exploder"
			extensions="dex"
			icon="icons/sample.gif"
			class="designexploder.editor.DexDiagramEditor"
			contributorClass="designexploder.editor.DexDiagramEditorActionBarContributor" />
	</extension>
	
</plugin>
